<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
        
        
        <!-- Web configuration -->
        <context:component-scan base-package="omis.detainernotification.web.controller"/>
        
        <!-- Report services -->
        <bean id="detainerSummaryReportService"
			class="omis.detainernotification.report.impl.hibernate.DetainerSummaryReportServiceHibernateImpl">
				<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="detainerNotificationProfileItemReportService"
			class="omis.detainernotification.report.impl.hibernate.DetainerNotificationProfileItemReportServiceHibernateImpl">
				<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
        
        <!-- Profile Item -->
   
		<bean id="detainerNotificationProfileItem"
	          class="omis.detainernotification.web.profile.DetainerNotificationProfileItem">
	      <constructor-arg name="requiredAuthorizations">
	          <set>
	              <value>DETAINER_NOTIFICATION_LIST</value>
	              <value>ADMIN</value>
	          </set>
	      </constructor-arg>
	      <constructor-arg name="includePage" value="/WEB-INF/views/detainerNotification/profile/includes/profileItem.jsp"/>
	      <constructor-arg name="name" value="detainer"/>
	      <constructor-arg name="profileItemRegistry" ref="legalProfileItemRegistry"/>
	  	  <constructor-arg name="detainerNotificationProfileItemReportService" ref="detainerNotificationProfileItemReportService"/>
	  	  <constructor-arg name="enabled" value="${detainerNotificationProfileItemEnabled}"/>
		</bean>
        
        <!-- Validators -->
        <bean id="detainerNotificationFormValidator"
			class="omis.detainernotification.web.validator.DetainerNotificationFormValidator">
			<constructor-arg name="addressFieldsValidatorDelegate" ref="addressFieldsValidatorDelegate"/>
			<constructor-arg name="stringLengthChecks" ref="stringLengthChecks"/>
		</bean>
        
        <!-- Use controller transaction -->
        
        <aop:config>
			<aop:pointcut id="detainerNotificationControllerOperation"
				expression="execution(* omis.detainernotification.web.controller.DetainerNotificationController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="detainerNotificationControllerOperation"/>	
		</aop:config>
        
        
        
</beans>