<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
  
  <!-- Validators -->
  
  <bean id="tierDesignationFormValidator"
        class="omis.tierdesignation.web.validator.TierDesignationFormValidator"/>
  
  <!-- Profile item -->
  <bean id="tierDesignationProfileItem"
  	class="omis.tierdesignation.web.profile.TierDesignationProfileItem">
  	<constructor-arg name="requiredAuthorizations">
  		<set>
  			<value>TIER_DESIGNATION_LIST</value>
  			<value>ADMIN</value>
  		</set>
  	</constructor-arg>
  	<constructor-arg name="includePage" value="/WEB-INF/views/tierDesignation/profile/includes/profileItem.jsp"/>
  	<constructor-arg name="name" value="tierDesignations"/>
  	<constructor-arg name="profileItemRegistry" ref="legalProfileItemRegistry"/>
  	<constructor-arg name="tierDesignationProfileItemReportService" ref="tierDesignationProfileItemReportService"/>
  	<constructor-arg name="enabled" value="${tierDesignationProfileItemEnabled}"/>
  </bean>
  
  <!-- Web configuration -->
  
  <context:component-scan base-package="omis.tierdesignation.web.controller"/>
  
  <aop:config>
      <aop:pointcut id="tierDesignationControllerOperation" expression="execution(* omis.tierdesignation.web.controller.TierDesignationController.*(..))"/>
      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="tierDesignationControllerOperation"/>
  </aop:config>
  
</beans>