<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
		
		<!-- Web configuration -->
		<context:component-scan base-package="omis.disciplinaryCode.web.controller"/>
		
		<!-- Report services -->
		<bean id="disciplinaryCodeReportService"
			class="omis.disciplinaryCode.report.impl.hibernate.DisciplinaryCodeReportServiceHibernateImpl">
				<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<!-- Validators -->
		 <bean id="disciplinaryCodeFormValidator"
			class="omis.disciplinaryCode.web.validator.DisciplinaryCodeFormValidator">
		</bean>
		
		 <bean id="codeDateFormValidator"
			class="omis.disciplinaryCode.web.validator.CodeDateFormValidator">
		</bean>
		
		<!-- Use controller transaction -->
		
		<aop:config>
			<aop:pointcut id="disciplinaryCodeControllerOperation"
				expression="execution(* omis.disciplinaryCode.web.controller.DisciplinaryCodeController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="disciplinaryCodeControllerOperation"/>	
		</aop:config>

</beans>