<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
        
        <!-- Validators -->
		
		<bean id="sampleCollectionMethodFormValidator"
			class="omis.substancetest.validator.SampleCollectionMethodFormValidator">
		</bean>
    	<!-- Profile Item -->
		<bean id="substanceTestProfileItem"
			class="omis.substancetest.web.profile.SubstanceTestProfileItem">
			<constructor-arg name="requiredAuthorizations">
				<set>
					<value>SUBSTANCE_TEST_LIST</value>
					<value>ADMIN</value>
				</set>
			</constructor-arg>
			<constructor-arg name="includePage" value="/WEB-INF/views/substanceTest/profile/includes/profileItem.jsp"/>
			<constructor-arg name="name" value="substance"/>
			<constructor-arg name="profileItemRegistry" ref="complianceProfileItemRegistry"/>
			<constructor-arg name="substanceTestProfileItemReportService" ref="substanceTestProfileItemReportService"/>
			<constructor-arg name="enabled" value="${substanceTestProfileItemEnabled}"/>
		</bean>
		
        
		<!-- Web configuration -->
		
		<context:component-scan base-package="omis.substancetest.web.controller"/>
	
	
		<!-- Use controller transactions -->
  
		<aop:config>
      		<aop:pointcut id="substanceTestControllerOperation" expression="execution(* omis.substancetest.web.controller.SubstanceTestController.*(..))"/>
      		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="substanceTestControllerOperation"/>
 	    </aop:config>	
		
		<aop:config>
      		<aop:pointcut id="substanceTestSampleControllerOperation" expression="execution(* omis.substancetest.web.controller.SubstanceTestSampleController.*(..))"/>
      		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="substanceTestSampleControllerOperation"/>
 	    </aop:config> 
</beans>        