<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
		<context:component-scan base-package="omis.workrestriction.web.controller" />
		
		<bean id="workRestrictionReportService" class="omis.workrestriction.report.impl.hibernate.WorkRestrictionReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="workRestrictionFormValidator"
			class="omis.workrestriction.web.validator.WorkRestrictionFormValidator">
		</bean>
		
		<aop:config>
			<aop:pointcut id="workRestrictionControllerOperation"
				expression="execution(* omis.workrestriction.web.controller.WorkRestrictionController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="workRestrictionControllerOperation"/>	
		</aop:config>
		
		<!-- Profile Item -->
		<bean id="workRestrictionProfileItem"
			class="omis.workrestriction.web.profile.WorkRestrictionsProfileItem">
			<constructor-arg name="requiredAuthorizations">
				<set>
					<value>WORK_RESTRICTION_LIST</value>
					<value>ADMIN</value>
				</set>
			</constructor-arg>
			<constructor-arg name="includePage" value="/WEB-INF/views/workRestriction/includes/profileItem.jsp"/>
			<constructor-arg name="name" value="workRestriction"/>
			<constructor-arg name="profileItemRegistry" ref="safetyProfileItemRegistry"/>
			<constructor-arg name="workRestrictionProfileSummaryReportService" ref="workRestrictionProfileSummaryReportService"/>
			<constructor-arg name="enabled" value="${workRestrictionProfileItemEnabled}"/>
		</bean>
		
</beans>