<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
 
  <!-- Web controller packages -->
  
  <context:component-scan base-package="omis.incident.web.controller"/>
  
  <!-- Use controller transactions -->
  
  <aop:config>
      <aop:pointcut id="incidentControllerOperation" expression="execution(* omis.incident.web.controller.IncidentController.*(..))"/>
      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="incidentControllerOperation"/>
  </aop:config>
  
  <aop:config>
      <aop:pointcut id="incidentStatementControllerOperation" expression="execution(* omis.incident.web.controller.IncidentStatementController.*(..))"/>
      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="incidentStatementControllerOperation"/>
  </aop:config>
		
	<!-- Validators -->
	
	<bean id="incidentStatementFormValidator" 
		class="omis.incident.web.validator.IncidentStatementFormValidator">
		<constructor-arg name="stringLengthChecks" ref="stringLengthChecks"/>
	</bean>
</beans>