<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        
   <!--  Validator Delegates -->
        
  <!--  <bean id="poBoxFieldsValidatorDelegate"
		class="omis.contact.web.validator.delegate.PoBoxFieldsValidatorDelegate">
	</bean> -->
	<bean id="contactFieldsValidatorDelegate"
		class="omis.contact.web.validator.delegate.ContactFieldsValidatorDelegate">
	</bean>
  
  <!--  Controller Delegate -->
  
  <bean id="addressFieldsControllerDelegate" class="omis.address.web.controller.delegate.AddressFieldsControllerDelegate"></bean>
  <bean id="poBoxFieldsControllerDelegate" class="omis.contact.web.controller.delegate.PoBoxFieldsControllerDelegate"></bean>
  <bean id="telephoneNumberFieldsControllerDelegate" class="omis.contact.web.controller.delegate.TelephoneNumberFieldsControllerDelegate"></bean>
  <bean id="onlineAccountFieldsControllerDelegate" class="omis.contact.web.controller.delegate.OnlineAccountFieldsControllerDelegate"></bean>
</beans>        