<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
		<context:component-scan base-package="omis.boardhearing.web.controller" />
		
		<bean id="boardHearingSummaryReportService" class="omis.boardhearing.report.impl.hibernate.BoardHearingSummaryReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="boardHearingProfileItemReportService" class="omis.boardhearing.report.impl.hibernate.BoardHearingProfileItemReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="boardHearingDocumentSummaryReportService" class="omis.boardhearing.report.impl.hibernate.BoardHearingDocumentSummaryReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="boardHearingFormValidator"
			class="omis.boardhearing.web.validator.BoardHearingFormValidator">
		</bean>
		
		<bean id="boardHearingDocumentFormValidator"
			class="omis.boardhearing.web.validator.BoardHearingDocumentFormValidator">
		</bean>
		
		<bean id="scheduleHearingsFormValidator"
			class="omis.boardhearing.web.validator.ScheduleHearingsFormValidator">
		</bean>
		
		<aop:config>
			<aop:pointcut id="boardHearingControllerOperation"
				expression="execution(* omis.boardhearing.web.controller.BoardHearingController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="boardHearingControllerOperation"/>	
		</aop:config>
		
		<aop:config>
			<aop:pointcut id="scheduleHearingsControllerOperation"
				expression="execution(* omis.boardhearing.web.controller.ScheduleHearingsController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="scheduleHearingsControllerOperation"/>	
		</aop:config>
		
		<aop:config>
			<aop:pointcut id="boardHearingDocumentControllerOperation"
				expression="execution(* omis.boardhearing.web.controller.BoardHearingDocumentController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="boardHearingDocumentControllerOperation"/>
		</aop:config>
		
		<aop:config>
			<aop:pointcut id="boardHearingDocumentReportControllerOperation"
				expression="execution(* omis.boardhearing.web.controller.BoardHearingDocumentReportController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="boardHearingDocumentReportControllerOperation"/>
		</aop:config>
		
		<!-- Controller Delegates -->
		<bean id="boardHearingSummaryModelDelegate" class="omis.boardhearing.web.controller.delegate.BoardHearingSummaryModelDelegate">
			<constructor-arg name="boardHearingSummaryReportService" ref="boardHearingSummaryReportService"/>
		</bean>
		
		<!-- Profile Items -->
		<bean id="boardHearingProfileItem" class="omis.boardhearing.web.profile.BoardHearingProfileItem">
			<constructor-arg name="requiredAuthorizations">
				<set>
					<value>BOARD_HEARING_LIST</value>
					<value>ADMIN</value>
				</set>
			</constructor-arg>
			<constructor-arg name="includePage" value="/WEB-INF/views/boardHearing/profile/includes/profileItem.jsp"/>
			<constructor-arg name="name" value="boardHearing"/>
			<constructor-arg name="profileItemRegistry" ref="boardOfPardonsAndParoleProfileItemRegistry"/>
			<constructor-arg name="enabled" value="${boardHearingProfileItemEnabled}"/>
			<constructor-arg name="boardHearingProfileItemReportService" ref="boardHearingProfileItemReportService"/>
		</bean>
		
</beans>