<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- Validators -->   
	<bean id="caseloadFormValidator"
		class="omis.caseload.web.validator.CaseloadFormValidator"/>
		
	<bean id="caseloadOffenderContactFormValidator"
		class="omis.caseload.web.validator.CaseloadOffenderContactFormValidator"/>	
		
	<bean id="reassignOffenderCaseloadFormValidator"
		class="omis.caseload.web.validator.ReassignOffenderCaseloadFormValidator"/>
	
	<bean id="reassignOfficerCaseloadFormValidator"
		class="omis.caseload.web.validator.ReassignOfficerCaseloadFormValidator"/>
		
    <!-- Web configuration -->
  
  	<context:component-scan base-package="omis.caseload.web.controller"/>
  
	<!-- Use controller transactions -->
	  <aop:config>
	      <aop:pointcut id="caseloadControllerOperation" expression="execution(* omis.caseload.web.controller.CaseloadController.*(..))"/>
	      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="caseloadControllerOperation"/>
	  </aop:config>
</beans>