<?xml version="1.0" encoding="UTF-8"?>
<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<!--
  - Case load web application configuration file.
  -
  - Author: Josh Divine
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- Validators -->   
	<bean id="officerCaseAssignmentFormValidator"
		class="omis.caseload.web.validator.OfficerCaseAssignmentFormValidator"/>
		
	<bean id="officerCaseAssignmentTransferFormValidator"
		class="omis.caseload.web.validator.OfficerCaseAssignmentTransferFormValidator"/>
		
    <!-- Web configuration -->
  	<context:component-scan base-package="omis.caseload.web.controller"/>
  
  	<!--  Profile Item -->
  	<bean id="caseloadProfileItem"
  		class="omis.caseload.web.profile.CaseloadProfileItem">
  		<constructor-arg name="requiredAuthorizations">
  			<set>
  				<value>OFFICER_CASE_ASSIGNMENT_LIST</value>
  				<value>ADMIN</value>
  			</set>
  		</constructor-arg>
  		<constructor-arg name="includePage" value="/WEB-INF/views/caseload/profile/includes/profileItem.jsp"/>
  		<constructor-arg name="name" value="caseload"/>
  		<constructor-arg name="profileItemRegistry" ref="caseManagementProfileItemRegistry"/>
  		<constructor-arg name="enabled" value="${officerCaseAssignmentProfileItemEnabled}"/>
  	</bean>
  
	<!-- Use controller transactions -->
	<aop:config>
	    <aop:pointcut id="officerCaseAssignmentControllerOperation" expression="execution(* omis.caseload.web.controller.ManageOfficerCaseAssignmentController.*(..))"/>
	    <aop:advisor advice-ref="transactionAdvice" pointcut-ref="officerCaseAssignmentControllerOperation"/>
	</aop:config>
	
	<aop:config>
	    <aop:pointcut id="officerCaseAssignmentTransferControllerOperation" expression="execution(* omis.caseload.web.controller.ManageOfficerCaseAssignmentTransferController.*(..))"/>
	    <aop:advisor advice-ref="transactionAdvice" pointcut-ref="officerCaseAssignmentTransferControllerOperation"/>
	</aop:config>
</beans>