<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

  <!-- Validators -->
  
  

  <!-- Web configuration -->
  
  <context:component-scan base-package="omis.dna.web.controller"/>
  
  <!-- Use controller transactions -->
  
  <aop:config>
      <aop:pointcut id="dnaSampleControllerOperation" expression="execution(* omis.dna.web.controller.DnaSampleController.*(..))"/>
      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="dnaSampleControllerOperation"/>
  </aop:config>
  
  <!-- Profile items -->
  <bean id="dnaProfileItem"
  	class="omis.dna.web.profile.DnaProfileItem">
  	<constructor-arg name="requiredAuthorizations">
  		<set>
  			<value>DNA_LIST</value>
  			<value>ADMIN</value>
  		</set>
  	</constructor-arg>
  	<constructor-arg name="includePage" value="/WEB-INF/views/dna/profile/includes/profileItem.jsp"/>
  	<constructor-arg name="name" value="dna"/>
  	<constructor-arg name="profileItemRegistry" ref="basicInformationProfileItemRegistry"/>
  	<constructor-arg name="dnaProfileItemReportService" ref="dnaProfileItemReportService"/>
  	<constructor-arg name="enabled" value="${dnaProfileItemEnabled}"/>
  </bean>
  
</beans>