<?xml version="1.0" encoding="UTF-8"?>
<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<!--
  - Court document association web configuration file.
  -
  - Author: Ryan Johns
  - Author: Josh Divine
  - Version: 0.1.1 (Aug 9, 2018)
  - Since: OMIS 3.0
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
        
	<!-- Validators. -->
  	<bean id="courtDocumentAssociationFormValidator" class="omis.courtdocument.web.validator.CourtDocumentAssociationFormValidator"/>
  
  	<!-- Web configuration -->
  
  <context:component-scan base-package="omis.courtdocument.web.controller"/>
  
  <!-- Use controller transactions -->
  
  <aop:config>
      <aop:pointcut id="courtDocumentAssociationControllerOperation" expression="execution(* omis.courtdocument.web.controller.ManageCourtDocumentAssociationController.*(..))"/>
      <aop:advisor advice-ref="transactionAdvice" pointcut-ref="courtDocumentAssociationControllerOperation"/>
  </aop:config>
  
  <bean id="courtCaseAssociationItem" 
        	class="omis.document.web.controller.OffenderDocumentAssociationItem">
        	<constructor-arg name="documentAssociationNameKey" value="courtCase"/>
        	<constructor-arg name="listView" value="/courtCase/document/list.html"/>
        	<constructor-arg name="listLinkLabelKey" value="courtDocumentListLabel"/>
        	<constructor-arg name="createView" value="/courtCase/document/create.html"/>
        	<constructor-arg name="createLinkLabelKey" value="courtDocumentCreateLabel"/>
        	<constructor-arg name="offenderDocumentAssociationItemRegistry" ref="offenderDocumentAssociationItemRegistry"/>
  </bean>

	<!-- Profile Item -->

	<bean id="courtDocumentAssociationProfileItem"
  			class="omis.courtdocument.web.profile.CourtDocumentAssociationProfileItem">
  			<constructor-arg name="requiredAuthorizations">
  				<set>
  					<value>COURT_CASE_DOCUMENT_LIST</value>
  					<value>ADMIN</value>
  				</set>
  			</constructor-arg>
  			<constructor-arg name="includePage" value="/WEB-INF/views/courtDocument/profile/includes/profileItem.jsp"/>
  			<constructor-arg name="name" value="courtDocuments"/>
  			<constructor-arg name="profileItemRegistry" ref="legalProfileItemRegistry"/>
  			<constructor-arg name="courtDocumentAssociationProfileItemReportService" ref="courtDocumentAssociationProfileItemReportService"/>
			<constructor-arg name="enabled" value="${courtDocumentAssociationProfileItemEnabled}"/>
	</bean>
</beans>