<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
		<context:component-scan base-package="omis.medicalreview.web.controller" />
		
		<bean id="medicalReviewSummaryReportService" class="omis.medicalreview.report.impl.hibernate.MedicalReviewSummaryReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="medicalReviewFormValidator"
			class="omis.medicalreview.web.validator.MedicalReviewFormValidator">
		</bean>
		
		<aop:config>
			<aop:pointcut id="medicalReviewControllerOperation"
				expression="execution(* omis.medicalreview.web.controller.MedicalReviewController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="medicalReviewControllerOperation"/>	
		</aop:config>
		
			<!-- Profile item -->
	<bean id="medicalReviewProfileItem"
		class="omis.medicalreview.web.profile.MedicalReviewProfileItem">
		<constructor-arg name="requiredAuthorizations">
			<set>
				<value>MEDICAL_REVIEW_LIST</value>
				<value>ADMIN</value>
			</set>
		</constructor-arg>
		<constructor-arg name="includePage" value="/WEB-INF/views/medicalReview/profile/includes/profileItem.jsp"/>
		<constructor-arg name="name" value="medicalReview"/>
		<constructor-arg name="profileItemRegistry" ref="caseManagementProfileItemRegistry"/>
		<constructor-arg name="enabled" value="${medicalReviewProfileItemEnabled}"/>
	</bean>
		
</beans>