<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
		
		<context:component-scan base-package="omis.earlyreleasetracking.web.controller" />
		
		<bean id="earlyReleaseRequestSummaryReportService" class="omis.earlyreleasetracking.report.impl.hibernate.EarlyReleaseRequestSummaryReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="earlyReleaseRequestProfileItemReportService" class="omis.earlyreleasetracking.report.impl.hibernate.EarlyReleaseRequestProfileItemReportServiceHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory"/>
		</bean>
		
		<bean id="earlyReleaseRequestFormValidator"
			class="omis.earlyreleasetracking.web.validator.EarlyReleaseRequestFormValidator">
		</bean>
		
		<aop:config>
			<aop:pointcut id="earlyReleaseRequestControllerOperation"
				expression="execution(* omis.earlyreleasetracking.web.controller.EarlyReleaseRequestController.*(..))"/>
			<aop:advisor advice-ref="transactionAdvice" pointcut-ref="earlyReleaseRequestControllerOperation"/>	
		</aop:config>
		
		<!-- Profile Items -->
		<bean id="earlyReleaseRequestProfileItem" class="omis.earlyreleasetracking.web.profile.EarlyReleaseRequestProfileItem">
			<constructor-arg name="requiredAuthorizations">
				<set>
					<value>EARLY_RELEASE_TRACKING_LIST</value>
					<value>ADMIN</value>
				</set>
			</constructor-arg>
			<constructor-arg name="includePage" value="/WEB-INF/views/earlyReleaseTracking/profile/includes/profileItem.jsp"/>
			<constructor-arg name="name" value="earlyReleaseTracking"/>
			<constructor-arg name="profileItemRegistry" ref="caseManagementProfileItemRegistry"/>
			<constructor-arg name="enabled" value="${earlyReleaseRequestProfileItemEnabled}"/>
			<constructor-arg name="earlyReleaseRequestProfileItemReportService" ref="earlyReleaseRequestProfileItemReportService"/>
		</bean>
</beans>