<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
        
        <!-- Validators -->
 		
 		<bean id="casePlanObjectiveFormValidator" 
			class="omis.need.web.validator.CasePlanObjectiveFormValidator">
		</bean>
 		
 		<!-- Profile Items --> 
 		
 		<bean id="needProfileItem" class="omis.need.web.report.NeedProfileItem">
 			<constructor-arg name="requiredAuthorizations">
 				<set>
 					<value>CASE_PLAN_OBJECTIVE_LIST</value>
 					<value>ADMIN</value>
 				</set>
 			</constructor-arg>
 			<constructor-arg name="includePage" value="/WEB-INF/views/need/profile/includes/profileItem.jsp"/>
 			<constructor-arg name="name" value="need"/>
 			<constructor-arg name="profileItemRegistry" ref="caseManagementProfileItemRegistry"/>
 			<constructor-arg name="needProfileItemReportService" ref="needProfileItemReportService"/>
 			<constructor-arg name="enabled" value="${needProfileItemEnabled}"/>
 		</bean>
 		
		<!-- Web configuration -->
 		 
 		<context:component-scan base-package="omis.need.web.controller"/>
 		 
 		<!-- Use controller transactions -->
  
		<aop:config>
		    <aop:pointcut id="casePlanObjectiveControllerOperation" expression="execution(* omis.need.web.controller.CasePlanObjectiveController.*(..))"/>
		    <aop:advisor advice-ref="transactionAdvice" pointcut-ref="casePlanObjectiveControllerOperation"/>
		</aop:config>
</beans>