<?xml version="1.0" encoding="UTF-8"?>

<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->

<!--
  - Unit testing configuration.
  -
  - Author: Stephen Abson
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
        
  <!-- Test imports -->
  
  <import resource="applicationContext-sessionFactory-test.xml"/>
  
  <!-- Factory beans for custom editors -->
  
  <bean id="datePropertyEditorFactory"
       class="omis.beans.factory.spring.impl.CustomDateEditorFactoryImpl">
   <constructor-arg><value>MM/dd/yyyy</value></constructor-arg>
   <constructor-arg><value>h:mm a</value></constructor-arg>
   <constructor-arg><value>MM/dd/yyyy k:mm</value></constructor-arg>
   <constructor-arg><value>true</value></constructor-arg>
  </bean>
  
  <!--
    - Only import module configurations - web tier is not currently unit tested
    - as configured in the application though separate components of the web
    - tier can be with a mock configuration (such as validators - see below).
    -->
  
  <import resource="file:src/main/webapp/WEB-INF/config/module/applicationContext-module.xml"/>
  
  <!-- 
    - Includes string length validator checks so validators can be targeted
    - for unit testing.
    -->
  
  <import resource="file:src/main/webapp/WEB-INF/config/web/applicationContext-stringLengthChecks.xml"/>
  
  <!--
    - Configures a mock audit component retriever that returns the user named
    - AUDIT and and arbitrary audit date. This is required for entity auditing
    - in the service layer.
    -->
  
  <bean id="auditComponentRetriever"
        class="omis.audit.test.AuditComponentRetrieverTestImpl">
    <constructor-arg name="userAccountDelegate" ref="userAccountDelegate"/>
    <constructor-arg name="testAuditUsername" value="AUDIT"/>
    <constructor-arg name="testAuditDate" value="1234567890"/>
  </bean>
  
  <!-- Helper classes -->
  
  <!--
    - Utilities for date and date ranges use application configured format
    - specified in property editor for dates.
    -->
  
  <bean id="dateUtility" class="omis.util.DateUtility">
  	<constructor-arg name="customDateEditorFactory" ref="datePropertyEditorFactory"/>
  </bean>

  <bean id="dateRangeUtility" class="omis.util.DateRangeUtility">
  	<constructor-arg name="customDateEditorFactory" ref="datePropertyEditorFactory"/>
  </bean>
  
</beans>