<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        
        <!-- Services -->
   
    
    <bean id="bedPlacementReasonService"
        	class="omis.bedplacement.service.impl.BedPlacementReasonServiceImpl">
        	<constructor-arg name="bedPlacementReasonDao" ref="bedPlacementReasonDao" />
    </bean>
    
    <bean id="bedPlacementSummaryReportService"
    	class="omis.bedplacement.report.impl.hibernate.BedPlacementSummaryReportServiceHibernateImpl">
    	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
    </bean>
   
   <bean id="bedPlacementProfileItemReportService"
   	class="omis.bedplacement.report.impl.hibernate.BedPlacementProfileItemReportServiceHibernateImpl">
   		<constructor-arg name="sessionFactory" ref="sessionFactory"/>	
   	</bean>
    
    <!-- Delegates -->
   
   <bean id="bedPlacementDelegate" class="omis.bedplacement.service.delegate.BedPlacementDelegate">
		<constructor-arg name="bedPlacementDao" ref="bedPlacementDao"/>
		<constructor-arg name="bedPlacementInstanceFactory" ref="bedPlacementInstanceFactory"/>
		<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever" />
	</bean>
	
   <bean id="bedPlacementReasonDelegate" class="omis.bedplacement.service.delegate.BedPlacementReasonDelegate">
		<constructor-arg name="bedPlacementReasonDao" ref="bedPlacementReasonDao"/>
		<constructor-arg name="bedPlacementReasonInstanceFactory" ref="bedPlacementReasonInstanceFactory"/>
	</bean>
	
    <!-- Data access objects -->
    
    <bean id="bedPlacementDao"
        	class="omis.bedplacement.dao.impl.hibernate.BedPlacementDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacement"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  	</bean>
  	
  	<bean id="bedPlacementReasonDao"
        	class="omis.bedplacement.dao.impl.hibernate.BedPlacementReasonDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacementReason"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  	</bean>
  	
    <!-- Instance factories -->
  		 
	<bean id="bedPlacementInstanceFactory"
		class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
		<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
		<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacement"/>
	</bean>
	
	<bean id="bedPlacementReasonInstanceFactory"
		class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
		<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
		<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacementReason"/>
	</bean>
	
 	<!--Property editor factories -->
 	
 	<bean id="bedPlacementPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacement"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="bedPlacementDao"/>
	</bean>
	
	<bean id="bedPlacementReasonPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.bedplacement.domain.BedPlacementReason"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="bedPlacementReasonDao"/>
	</bean>
	<!-- Profile specific services -->
 	<beans profile="prod,preprod,test">
	    <bean id="bedPlacementService"
	        	class="omis.bedplacement.service.impl.BedPlacementServiceImpl">
	        	<constructor-arg name="bedPlacementDelegate" ref="bedPlacementDelegate" />
	        	<constructor-arg name="facilityDelegate" ref="facilityDelegate" />
	        	<constructor-arg name="complexDelegate" ref="complexDelegate" />
	        	<constructor-arg name="unitDelegate" ref="unitDelegate" />
	        	<constructor-arg name="sectionDelegate" ref="sectionDelegate" />
	        	<constructor-arg name="levelDelegate" ref="levelDelegate" />
	        	<constructor-arg name="roomDelegate" ref="roomDelegate" />
	        	<constructor-arg name="bedDelegate" ref="bedDelegate" />
	        	<constructor-arg name="locationTermDelegate" ref="legacyLocationTermDelegate" />
	        	<constructor-arg name="bedPlacementReasonDelegate" ref="bedPlacementReasonDelegate" />
	    </bean> 
	    
	    <bean id="bedPlacementLookupDelegate"
	    	class="omis.bedplacement.report.impl.hibernate.LegacyBedPlacementLookupDelegateHibernateImpl">
	    	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	    </bean>
    </beans>
    
    <beans profile="dev,standalone">
	    <bean id="bedPlacementService"
	        	class="omis.bedplacement.service.impl.BedPlacementServiceImpl">
	        	<constructor-arg name="bedPlacementDelegate" ref="bedPlacementDelegate" />
	        	<constructor-arg name="facilityDelegate" ref="facilityDelegate" />
	        	<constructor-arg name="complexDelegate" ref="complexDelegate" />
	        	<constructor-arg name="unitDelegate" ref="unitDelegate" />
	        	<constructor-arg name="sectionDelegate" ref="sectionDelegate" />
	        	<constructor-arg name="levelDelegate" ref="levelDelegate" />
	        	<constructor-arg name="roomDelegate" ref="roomDelegate" />
	        	<constructor-arg name="bedDelegate" ref="bedDelegate" />
	        	<constructor-arg name="locationTermDelegate" ref="locationTermDelegate" />
	        	<constructor-arg name="bedPlacementReasonDelegate" ref="bedPlacementReasonDelegate" />
	    </bean>
	    
	    <bean id="bedPlacementLookupDelegate"
	    	class="omis.bedplacement.report.impl.hibernate.BedPlacementLookupDelegateHibernateImpl">
	    	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	    </bean>
    </beans>
</beans>
