<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <!-- Services -->
  
  <bean id="personPhotoService"
        class="omis.personphoto.service.impl.PersonPhotoServiceImpl">
    <constructor-arg name="personPhotoAssociationDao" ref="personPhotoAssociationDao"/>
  </bean>
     
  <!-- Data access objects -->

  <bean id="personPhotoAssociationDao"
        class="omis.personphoto.dao.impl.hibernate.PersonPhotoAssociationDaoHibernateImpl">
  	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  	<constructor-arg name="entityName" value="omis.personphoto.domain.PersonPhotoAssociation"/>
  </bean>
  
</beans>