<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        
	<!--  Instance factories -->
  
	<bean id="userPreferenceInstanceFactory"
	      class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	  <constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	  <constructor-arg name="entityName" value="omis.userpreference.domain.UserPreference"/>
	</bean>
  
	<!-- Services -->
      
	<bean id="userPreferenceService"
		class="omis.userpreference.service.impl.UserPreferenceServiceImpl">
			<constructor-arg name="userPreferenceDao" ref="userPreferenceDao"/>
			<constructor-arg name="userAccountDelegate" ref="userAccountDelegate"/>
			<constructor-arg name="userPreferenceDelegate" ref="userPreferenceDelegate"/>
			<constructor-arg name="photoDelegate" ref="photoDelegate"/>
	</bean>

	<!--  Data access objects -->

	<bean id="userPreferenceDao"
 		class="omis.userpreference.dao.impl.hibernate.UserPreferenceDaoHibernateImpl">
 		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
 		<constructor-arg name="entityName" value="omis.userpreference.domain.UserPreference"/>	
 	</bean>
 	
 	<!--  Property Editor Factories -->
 	
 	<bean id="userPreferencePropertyEditorFactory"
       class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
	   <constructor-arg name="dao" ref="userPreferenceDao"/>
	   <constructor-arg name="entityName" value="omis.userpreference.domain.UserPreference"/>
	   <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	</bean>
	
	<!--  Service delegates -->
	
	<bean id="userPreferenceDelegate"
		class="omis.userpreference.service.delegate.UserPreferenceDelegate">
		<constructor-arg name="userPreferenceDao" ref="userPreferenceDao"/>
		<constructor-arg name="userPreferenceInstanceFactory" ref="userPreferenceInstanceFactory"/>
	</bean>
	
	<!-- Photo Retrievers -->
		
		 <bean id="userPreferencePhotoRetriever"
            class="omis.media.io.impl.SimplePhotoRetrieverImpl">
    		<constructor-arg name="fileLocator" ref="userPreferencePhotoLocator"/>
    		<constructor-arg name="defaultFilename" value="NotFound.jpg"/>
		</bean>
        
        <!-- Photo Persisters -->
        
        <bean id="userPreferencePhotoPersister"
	        class="omis.media.io.impl.SimplePhotoPersisterImpl">
    		<constructor-arg name="fileLocator" ref="userPreferencePhotoLocator"/>
  		</bean>
  		
  		<!-- Photo File Locators -->

	  	<bean id="userPreferencePhotoLocator" class="omis.io.impl.FileFromPathLocatorImpl">
	    	<constructor-arg name="path" value="${application.resource.path}\Photos\UserPreferencePhotos"/>
	  	</bean>
        
        <!-- Photo File Remover -->
        
        <bean id="userPreferencePhotoRemover" class="omis.io.impl.SimpleFileRemoverImpl">
        	<constructor-arg name="fileLocator" ref="userPreferencePhotoLocator"/>
        </bean>
</beans>        