<?xml version="1.0" encoding="UTF-8"?>
<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<!--
  - Case load application configuration file.
  -
  - Author: Josh Divine
  - Version: 0.1.2 (Sep 7, 2018)
  - Since: OMIS 3.0
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
        
         <!-- Services -->
        
        <bean name="officerCaseAssignmentService"
        	class="omis.caseload.service.impl.OfficerCaseAssignmentServiceImpl">
        	<constructor-arg name="officerCaseAssignmentDelegate" ref="officerCaseAssignmentDelegate"/>
        	<constructor-arg name="supervisionLevelCategoryDelegate" ref="supervisionLevelCategoryDelegate"/>
        	<constructor-arg name="communitySupervisionOfficeDelegate" ref="communitySupervisionOfficeDelegate"/>
        	<constructor-arg name="userAccountDelegate" ref="userAccountDelegate"/>
        	<constructor-arg name="interstateCompactAssignmentDelegate" ref="interstateCompactAssignmentDelegate"/>
        	<constructor-arg name="interstateCompactCorrectionalStatusDelegate" ref="interstateCompactCorrectionalStatusDelegate"/>
        	<constructor-arg name="interstateCompactEndReasonCategoryDelegate" ref="interstateCompactEndReasonCategoryDelegate"/>
        	<constructor-arg name="interstateCompactTypeCategoryDelegate" ref="interstateCompactTypeCategoryDelegate"/>
        	<constructor-arg name="officerCaseAssignmentNoteDelegate" ref="officerCaseAssignmentNoteDelegate"/>
        	<constructor-arg name="stateDelegate" ref="stateDelegate"/>
        	<constructor-arg name="institutionalProbationAndParoleOfficeDelegate" ref="institutionalProbationAndParoleOfficeDelegate"/>
        </bean> 
        
        <!-- Delegates -->
        
        <bean name="officerCaseAssignmentDelegate" 
        	class="omis.caseload.service.delegate.OfficerCaseAssignmentDelegate">
        	<constructor-arg name="officerCaseAssignmentDao" ref="officerCaseAssignmentDao"/>
        	<constructor-arg name="officerCaseAssignmentInstanceFactory" ref="officerCaseAssignmentInstanceFactory"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>	
        </bean>
        
        <bean name="supervisionLevelCategoryDelegate"
        	class="omis.caseload.service.delegate.SupervisionLevelCategoryDelegate">
        	<constructor-arg name="supervisionLevelCategoryDao" ref="supervisionLevelCategoryDao"/>
        	<constructor-arg name="supervisionLevelCategoryInstanceFactory" ref="supervisionLevelCategoryInstanceFactory"/>
        </bean>
        
        <bean name="interstateCompactAssignmentDelegate" 
        	class="omis.caseload.service.delegate.InterstateCompactAssignmentDelegate">
        	<constructor-arg name="interstateCompactAssignmentDao" ref="interstateCompactAssignmentDao"/>
        	<constructor-arg name="interstateCompactAssignmentInstanceFactory" ref="interstateCompactAssignmentInstanceFactory"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>	
        </bean>
        
        <bean name="interstateCompactCorrectionalStatusDelegate"
        	class="omis.caseload.service.delegate.InterstateCompactCorrectionalStatusDelegate">
        	<constructor-arg name="interstateCompactCorrectionalStatusDao" ref="interstateCompactCorrectionalStatusDao"/>
        	<constructor-arg name="interstateCompactCorrectionalStatusInstanceFactory" ref="interstateCompactCorrectionalStatusInstanceFactory"/>
        </bean>
        
        <bean name="interstateCompactEndReasonCategoryDelegate"
        	class="omis.caseload.service.delegate.InterstateCompactEndReasonCategoryDelegate">
        	<constructor-arg name="interstateCompactEndReasonCategoryDao" ref="interstateCompactEndReasonCategoryDao"/>
        	<constructor-arg name="interstateCompactEndReasonCategoryInstanceFactory" ref="interstateCompactEndReasonCategoryInstanceFactory"/>
        </bean>
        
        <bean name="interstateCompactTypeCategoryDelegate"
        	class="omis.caseload.service.delegate.InterstateCompactTypeCategoryDelegate">
        	<constructor-arg name="interstateCompactTypeCategoryDao" ref="interstateCompactTypeCategoryDao"/>
        	<constructor-arg name="interstateCompactTypeCategoryInstanceFactory" ref="interstateCompactTypeCategoryInstanceFactory"/>
        </bean>
        
        <bean name="officerCaseAssignmentNoteDelegate" 
        	class="omis.caseload.service.delegate.OfficerCaseAssignmentNoteDelegate">
        	<constructor-arg name="officerCaseAssignmentNoteDao" ref="officerCaseAssignmentNoteDao"/>
        	<constructor-arg name="officerCaseAssignmentNoteInstanceFactory" ref="officerCaseAssignmentNoteInstanceFactory"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>	
        </bean>
        
        <!-- Report services -->
        
        <bean name="officerCaseAssignmentSummaryReportService"
        	class="omis.caseload.report.impl.hibernate.OfficerCaseAssignmentSummaryReportServiceHibernateImpl">
        	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
        </bean>
        
        <!-- Data Access Objects -->
        
        <bean id="officerCaseAssignmentDao"
	  		class="omis.caseload.dao.impl.hibernate.OfficerCaseAssignmentDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignment"/>
 		</bean>
 		
 		<bean id="supervisionLevelCategoryDao"
	  		class="omis.caseload.dao.impl.hibernate.SupervisionLevelCategoryDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.SupervisionLevelCategory"/>
 		</bean>
 		
 		<bean id="interstateCompactAssignmentDao"
	  		class="omis.caseload.dao.impl.hibernate.InterstateCompactAssignmentDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactAssignment"/>
 		</bean>
 		
 		<bean id="interstateCompactCorrectionalStatusDao"
	  		class="omis.caseload.dao.impl.hibernate.InterstateCompactCorrectionalStatusDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactCorrectionalStatus"/>
 		</bean>
 		
 		<bean id="interstateCompactEndReasonCategoryDao"
	  		class="omis.caseload.dao.impl.hibernate.InterstateCompactEndReasonCategoryDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactEndReasonCategory"/>
 		</bean>
 		
 		<bean id="interstateCompactTypeCategoryDao"
	  		class="omis.caseload.dao.impl.hibernate.InterstateCompactTypeCategoryDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactTypeCategory"/>
 		</bean>
 		
 		<bean id="officerCaseAssignmentNoteDao"
	  		class="omis.caseload.dao.impl.hibernate.OfficerCaseAssignmentNoteDaoHibernateImpl">
	  		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
	  		<constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignmentNote"/>
 		</bean>
 		 
        <!-- Instance factories -->
        
  		<bean id="officerCaseAssignmentInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignment"/>
  		</bean>
  		
  		<bean id="supervisionLevelCategoryInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.SupervisionLevelCategory"/>
  		</bean>
  		
  		<bean id="interstateCompactAssignmentInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactAssignment"/>
  		</bean>
  		
  		<bean id="interstateCompactCorrectionalStatusInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactCorrectionalStatus"/>
  		</bean>
  		
  		<bean id="interstateCompactEndReasonCategoryInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactEndReasonCategory"/>
  		</bean>
  		
  		<bean id="interstateCompactTypeCategoryInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactTypeCategory"/>
  		</bean>
  		
  		<bean id="officerCaseAssignmentNoteInstanceFactory"
	        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
	    	<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
	    	<constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignmentNote"/>
  		</bean>
    	
		<!-- Property editors -->
		
		<bean id="officerCaseAssignmentPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="officerCaseAssignmentDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignment"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="supervisionLevelCategoryPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="supervisionLevelCategoryDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.SupervisionLevelCategory"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="interstateCompactAssignmentPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="interstateCompactAssignmentDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactAssignment"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="interstateCompactCorrectionalStatusPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="interstateCompactCorrectionalStatusDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactCorrectionalStatus"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="interstateCompactEndReasonCategoryPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="interstateCompactEndReasonCategoryDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactEndReasonCategory"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="interstateCompactTypeCategoryPropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="interstateCompactTypeCategoryDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.InterstateCompactTypeCategory"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
	  	<bean id="officerCaseAssignmentNotePropertyEditorFactory"
	        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
		    <constructor-arg name="dao" ref="officerCaseAssignmentNoteDao"/>
		    <constructor-arg name="entityName" value="omis.caseload.domain.OfficerCaseAssignmentNote"/>
		    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
	  	</bean>
	  	
</beans>