<?xml version="1.0" encoding="UTF-8"?>
<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- 
  - Hearing analysis configuration.
  -
  - Author: Josh Divine
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        
        <!-- Services -->
        
        <bean id="hearingAnalysisService"
        	class="omis.hearinganalysis.service.impl.HearingAnalysisServiceImpl">
        	<constructor-arg name="hearingAnalysisDelegate" ref="hearingAnalysisDelegate"/>
        	<constructor-arg name="hearingAnalysisNoteDelegate" ref="hearingAnalysisNoteDelegate"/>
        	<constructor-arg name="paroleBoardItineraryDelegate" ref="paroleBoardItineraryDelegate"/>
        	<constructor-arg name="boardMeetingSiteDelegate" ref="boardMeetingSiteDelegate"/>
        	<constructor-arg name="paroleBoardMemberDelegate" ref="paroleBoardMemberDelegate"/>
        	<constructor-arg name="hearingAnalysisCategoryDelegate" ref="hearingAnalysisCategoryDelegate"/>
        </bean>
        
        <bean id="hearingAnalysisTaskService"
        	class="omis.hearinganalysis.service.impl.HearingAnalysisTaskServiceImpl">
        	<constructor-arg name="taskDelegate" ref="taskDelegate"/>
        	<constructor-arg name="taskParameterValueDelegate" ref="taskParameterValueDelegate"/>
        	<constructor-arg name="taskAssignmentDelegate" ref="taskAssignmentDelegate"/>
        	<constructor-arg name="taskTemplateParameterValueDelegate" ref="taskTemplateParameterValueDelegate"/>
        	<constructor-arg name="hearingAnalysisTaskAssociationDelegate" ref="hearingAnalysisTaskAssociationDelegate"/>
        	<constructor-arg name="paroleHearingAnalysisTaskSourceDelegate" ref="paroleHearingAnalysisTaskSourceDelegate"/>
        	<constructor-arg name="paroleHearingTaskGroupDelegate" ref="paroleHearingTaskGroupDelegate"/>
        	<constructor-arg name="userAccountDelegate" ref="userAccountDelegate"/>
        	<constructor-arg name="hearingAnalysisNoteDelegate" ref="hearingAnalysisNoteDelegate"/>
        </bean>
        
        <!-- Report services -->
        
        <bean id="hearingAnalysisSummaryService"
        	class="omis.hearinganalysis.report.impl.hibernate.HearingAnalysisSummaryServiceHibernateImpl">
        	<constructor-arg name="sessionFactory" ref="sessionFactory"/>
        </bean>
        
        <!-- Delegates -->
        
        <bean id="hearingAnalysisDelegate"
        	class="omis.hearinganalysis.service.delegate.HearingAnalysisDelegate">
        	<constructor-arg name="hearingAnalysisDao" ref="hearingAnalysisDao"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>
        	<constructor-arg name="hearingAnalysisInstanceFactory" ref="hearingAnalysisInstanceFactory"/>
        </bean>
        
        <bean id="hearingAnalysisNoteDelegate"
        	class="omis.hearinganalysis.service.delegate.HearingAnalysisNoteDelegate">
        	<constructor-arg name="hearingAnalysisNoteDao" ref="hearingAnalysisNoteDao"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>
        	<constructor-arg name="hearingAnalysisNoteInstanceFactory" ref="hearingAnalysisNoteInstanceFactory"/>
        </bean>
        
        <bean id="hearingAnalysisCategoryDelegate"
        	class="omis.hearinganalysis.service.delegate.HearingAnalysisCategoryDelegate">
        	<constructor-arg name="hearingAnalysisCategoryDao" ref="hearingAnalysisCategoryDao"/>
        	<constructor-arg name="hearingAnalysisCategoryInstanceFactory" ref="hearingAnalysisCategoryInstanceFactory"/>
        </bean>
        
        <bean id="hearingAnalysisTaskAssociationDelegate"
        	class="omis.hearinganalysis.service.delegate.HearingAnalysisTaskAssociationDelegate">
        	<constructor-arg name="hearingAnalysisTaskAssociationDao" ref="hearingAnalysisTaskAssociationDao"/>
        	<constructor-arg name="hearingAnalysisTaskAssociationInstanceFactory" ref="hearingAnalysisTaskAssociationInstanceFactory"/>
        </bean>
        
        <bean id="paroleHearingAnalysisTaskSourceDelegate"
        	class="omis.hearinganalysis.service.delegate.ParoleHearingAnalysisTaskSourceDelegate">
        	<constructor-arg name="paroleHearingAnalysisTaskSourceDao" ref="paroleHearingAnalysisTaskSourceDao"/>
        	<constructor-arg name="paroleHearingAnalysisTaskSourceInstanceFactory" ref="paroleHearingAnalysisTaskSourceInstanceFactory"/>
        </bean>
        
        <bean id="paroleHearingTaskGroupDelegate"
        	class="omis.hearinganalysis.service.delegate.ParoleHearingTaskGroupDelegate">
        	<constructor-arg name="paroleHearingTaskGroupDao" ref="paroleHearingTaskGroupDao"/>
        	<constructor-arg name="paroleHearingTaskGroupInstanceFactory" ref="paroleHearingTaskGroupInstanceFactory"/>
        </bean>
        
        <!-- Data access objects -->
        
        <bean id="hearingAnalysisDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.HearingAnalysisDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysis"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="hearingAnalysisNoteDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.HearingAnalysisNoteDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisNote"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="hearingAnalysisCategoryDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.HearingAnalysisCategoryDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisCategory"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="hearingAnalysisTaskAssociationDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.HearingAnalysisTaskAssociationDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisTaskAssociation"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="paroleHearingAnalysisTaskSourceDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.ParoleHearingAnalysisTaskSourceDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingAnalysisTaskSource"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="paroleHearingTaskGroupDao"
        	class="omis.hearinganalysis.dao.impl.hibernate.ParoleHearingTaskGroupDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingTaskGroup"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<!-- Instance factories -->
  		 
		<bean id="hearingAnalysisInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysis"/>
		</bean>
		
		<bean id="hearingAnalysisNoteInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisNote"/>
		</bean>
		
		<bean id="hearingAnalysisCategoryInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisCategory"/>
		</bean>
		
		<bean id="hearingAnalysisTaskAssociationInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisTaskAssociation"/>
		</bean>
		
		<bean id="paroleHearingAnalysisTaskSourceInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingAnalysisTaskSource"/>
		</bean>
		
		<bean id="paroleHearingTaskGroupInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingTaskGroup"/>
		</bean>
		
  		 <!--Property editor factories -->
 		 
 		 <bean id="hearingAnalysisPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysis"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="hearingAnalysisDao"/>
		</bean>
		
		<bean id="hearingAnalysisNotePropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisNote"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="hearingAnalysisNoteDao"/>
		</bean>
		
		<bean id="hearingAnalysisCategoryPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisCategory"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="hearingAnalysisCategoryDao"/>
		</bean>
		
		<bean id="hearingAnalysisTaskAssociationPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.HearingAnalysisTaskAssociation"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="hearingAnalysisTaskAssociationDao"/>
		</bean>
		
		<bean id="paroleHearingAnalysisTaskSourcePropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingAnalysisTaskSource"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="paroleHearingAnalysisTaskSourceDao"/>
		</bean>
		
		<bean id="paroleHearingTaskGroupPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.hearinganalysis.domain.ParoleHearingTaskGroup"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="paroleHearingTaskGroupDao"/>
		</bean>
		
</beans>