<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <!-- Services -->
  <!--  
  <bean id="addressService" class="omis.address.service.impl.AddressServiceImpl">
    <constructor-arg name="addressDao" ref="addressDao"/>
    <constructor-arg name="streetSuffixDao" ref="streetSuffixDao"/>
    <constructor-arg name="streetDirectionDao" ref="streetDirectionDao"/>
    <constructor-arg name="addressUnitDesignatorDao" ref="addressUnitDesignatorDao"/>
    <constructor-arg name="zipCodeDao" ref="zipCodeDao"/>
  </bean>
  -->
  <!-- Data access objects -->
  
  <bean id="poBoxDao" class="omis.mail.dao.impl.hibernate.PoBoxDaoHibernateImpl">
    <constructor-arg name="entityName" value="omis.mail.domain.PoBox"/>
    <constructor-arg name="sessionFactory" ref="sessionFactory"/>
  </bean>
  
  <!-- Instance factories -->
  
  <bean id="poBoxInstanceFactory"
        class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
    <constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
    <constructor-arg name="entityName" value="omis.mail.domain.PoBox"/>
  </bean>
  
  <!-- Property editor factory -->
  
  <bean id="poBoxPropertyEditorFactory"
        class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
    <constructor-arg name="dao" ref="poBoxDao"/>
    <constructor-arg name="entityName" value="omis.mail.domain.PoBox"/>
    <constructor-arg name="configuration" ref="hibernateConfiguration"/>
  </bean>
  
</beans>