<?xml version="1.0" encoding="UTF-8"?>
<!--
 - OMIS - Offender Management Information System
 - Copyright (C) 2011 - 2017 State of Montana
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
        
        <!-- Services -->
        
        <bean id="boardConsiderationService"
        	class="omis.boardconsideration.service.impl.BoardConsiderationServiceImpl">
        	<constructor-arg name="boardConsiderationDelegate" ref="boardConsiderationDelegate"/>
        	<constructor-arg name="boardConsiderationNoteDelegate" ref="boardConsiderationNoteDelegate"/>
        </bean>
        
        <!-- Delegates -->
        
        <bean id="boardConsiderationDelegate"
        	class="omis.boardconsideration.service.delegate.BoardConsiderationDelegate">
        	<constructor-arg name="boardConsiderationDao" ref="boardConsiderationDao"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>
        	<constructor-arg name="boardConsiderationInstanceFactory" ref="boardConsiderationInstanceFactory"/>
        </bean>

        <bean id="boardConsiderationNoteDelegate"
        	class="omis.boardconsideration.service.delegate.BoardConsiderationNoteDelegate">
        	<constructor-arg name="boardConsiderationNoteDao" ref="boardConsiderationNoteDao"/>
        	<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever"/>
        	<constructor-arg name="boardConsiderationNoteInstanceFactory" ref="boardConsiderationNoteInstanceFactory"/>
        </bean>
        
        <!-- Data access objects -->
        
        <bean id="boardConsiderationDao"
        	class="omis.boardconsideration.dao.impl.hibernate.BoardConsiderationDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsideration"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<bean id="boardConsiderationNoteDao"
        	class="omis.boardconsideration.dao.impl.hibernate.BoardConsiderationNoteDaoHibernateImpl">
    		<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsiderationNote"/>
    		<constructor-arg name="sessionFactory" ref="sessionFactory"/>
  		</bean>
  		
  		<!-- Instance factories -->
  		 
		<bean id="boardConsiderationInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsideration"/>
		</bean>
		
		<bean id="boardConsiderationNoteInstanceFactory"
			class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate"/>
			<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsiderationNote"/>
		</bean>
		
  		 <!--Property editor factories -->
 		 
 		 <bean id="boardConsiderationPropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsideration"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="boardConsiderationDao"/>
		</bean>
		
		<bean id="boardConsiderationNotePropertyEditorFactory"
       		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
 			<constructor-arg name="entityName" value="omis.boardconsideration.domain.BoardConsiderationNote"/>
 			<constructor-arg name="configuration" ref="hibernateConfiguration"/>
  			<constructor-arg name="dao" ref="boardConsiderationNoteDao"/>
		</bean>
		
</beans>