<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
		
		<bean id="disciplinaryCodeService" class = "omis.disciplinaryCode.service.impl.DisciplinaryCodeServiceImpl">
			<constructor-arg name="disciplinaryCodeDelegate" ref="disciplinaryCodeDelegate" />
			<constructor-arg name="supervisoryOrganizationCodeDelegate" ref="supervisoryOrganizationCodeDelegate" />
		</bean>
		
		<!-- DAO -->
		
		<bean id="disciplinaryCodeDao"
		class="omis.disciplinaryCode.dao.impl.hibernate.DisciplinaryCodeDaoHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.DisciplinaryCode" />
		</bean>
		
		<bean id="supervisoryOrganizationCodeDao"
		class="omis.disciplinaryCode.dao.impl.hibernate.SupervisoryOrganizationCodeDaoHibernateImpl">
			<constructor-arg name="sessionFactory" ref="sessionFactory" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.SupervisoryOrganizationCode" />
		</bean>
		
		<!-- Delegates -->
		
		<bean id="disciplinaryCodeDelegate"
		class="omis.disciplinaryCode.service.delegate.DisciplinaryCodeDelegate">
			<constructor-arg name="disciplinaryCodeDao" ref="disciplinaryCodeDao" />
			<constructor-arg name="disciplinaryCodeInstanceFactory" ref="disciplinaryCodeInstanceFactory" />
			<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever" />
		</bean>
		
		<bean id="supervisoryOrganizationCodeDelegate"
		class="omis.disciplinaryCode.service.delegate.SupervisoryOrganizationCodeDelegate">
			<constructor-arg name="supervisoryOrganizationCodeDao" ref="supervisoryOrganizationCodeDao" />
			<constructor-arg name="supervisoryOrganizationCodeInstanceFactory" ref="supervisoryOrganizationCodeInstanceFactory" />
			<constructor-arg name="auditComponentRetriever" ref="auditComponentRetriever" />
		</bean>
		
		<!-- Instance Factories -->
		
		<bean id="disciplinaryCodeInstanceFactory"
		class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.DisciplinaryCode" />
		</bean>
		
		<bean id="supervisoryOrganizationCodeInstanceFactory"
		class="omis.instance.factory.hibernate.impl.InstanceFactoryHibernateImpl">
			<constructor-arg name="instanceFactoryDelegate" ref="instanceFactoryDelegate" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.SupervisoryOrganizationCode" />
		</bean>
		
		<!-- Property Editor Factories -->
		
		<bean id="disciplinaryCodePropertyEditorFactory"
		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
			<constructor-arg name="dao" ref="disciplinaryCodeDao" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.DisciplinaryCode" />
			<constructor-arg name="configuration" ref="hibernateConfiguration" />
		</bean>
		
		<bean id="supervisoryOrganizationCodePropertyEditorFactory"
		class="omis.beans.factory.impl.hibernate.PropertyEditorFactoryHibernateImpl">
			<constructor-arg name="dao" ref="supervisoryOrganizationCodeDao" />
			<constructor-arg name="entityName"
				value="omis.disciplinaryCode.domain.SupervisoryOrganizationCode" />
			<constructor-arg name="configuration" ref="hibernateConfiguration" />
		</bean>
		
		
</beans>