/** Provides offender selection UI.
 * @author Ryan Johns
 * @version 0.1.0 (Dec 4, 2014) 
 * @since OMIS 3.0 */
 


ul li a.actionMenuItem, a.actionMenuItem {
	padding-right:5px;
	padding-left:5px;
	padding-bottom: 2px;
	padding-top:2px;
	margin:5px;
}

ul li a.actionMenuItem.open, a.actionMenuItem.open {
	z-index: 1001;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 2px;
	position:relative;
	border-width: 1px 1px 0px 1px;
}

.actionList {
	position:absolute;
	float:inherit;
}

.actionList .actionList {
	position:relative;
}

.actionListContainer {
	z-index: 1000;
	text-align:left;
}


table tr td .actionMenuItem, table tr th .actionMenuItem {
/* 	padding-top: 3px; */
/* 	padding-bottom:1.5px; */
	display: inline-block;
}



table tr td .actionMenuItem.open, 
 table tr th .actionMenuItem.open {
	padding-top:2px;
	padding-bottom:1.5px;
}


.actionListContainer.show {
	border-width: 1px;
}

.actionListContainert {
	min-height: 15px;
	max-width: 800px;
}

.actionList ul li:not(:last-child) {
	padding-bottom: 4px;
}

.actionList ul li {
	list-style: none;
	min-width: 120px;
}


.actionList ul {
    margin: 0;
    padding: 10px;
}

.actionList ul li a, .actionList ul li span {
    font-size: 9pt;
    font-weight: bold;
}

.helpMenuItem {
	float: right;
	margin-top: 9px;
	padding: 10px;
}



