/**
 * Styling for parole board member.
 *
 * Author: Josh Divine
 * Version: 0.1.0 (Nov 14, 2017)
 * Since: OMIS 3.0
 */
 
 /* Form. */
form.filterForm {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	border-width: 0px;
}

/* Form elements. */
form.filterForm select::-ms-expand {
	display:none;
}

form.filterForm fieldset legend {
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}

/* Field sets. */
form.filterForm fieldset {
	padding: 23px;
	margin: 2px;
	border-width: 0px;
	border-style: solid;
	margin-bottom: 12px;
	clear: left;
}

form.filterForm fieldset legend {
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}

/* Form labels and values. */
form.filterForm fieldset div span.fieldGroup.relevantOptionFieldGroup {
	width: 120px;
	display: inline-block;
}

form.filterForm fieldset div {
	margin: 5px;
}

form.filterForm fieldset div span.fieldGroup label.fieldLabel {
	width: 100px;
	display: inline-block;
	text-align: right;
}

form.filterForm select, form select {
    padding-right: 22px;
    min-width: 90px;      
    text-indent: 0.01px;
    text-overflow: ""; 
}