/**
 * Styling for chronological note.
 *
 * Author: Yidong Li
 * Version: 0.1.0 (February)
 * Since: OMIS 3.0
 */
 
form.listForm fieldset span.categoryListContainer label{
   display: inline-block;
   width: 24%;
   min-width: 300px;
   text-align: left;
   margin: 3px 0px 3px 0px;
}

form.listForm {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 0px;
	border-width: 0px;
}

/* Form elements. */
form.listForm select::-ms-expand {
	display:none;
}

form.listForm fieldset legend {
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}

/* Field sets. */
form.listForm fieldset {
	padding: 23px;
	margin: 2px;
	border-width: 0px;
	border-style: solid;
	margin-bottom: 12px;
	clear: left;
}

form.listForm fieldset legend {
	padding: 5px;
	padding-left: 9px;
	padding-right: 9px;
}

/* Form labels and values. */
form.listForm fieldset div span.fieldGroup.relevantOptionFieldGroup {
	width: 100px;
	display: inline-block;
}

form.listForm fieldset div {
	margin: 5px;
}

form.listForm fieldset div span.fieldGroup label.fieldLabel {
	width: 100px;
	display: inline-block;
	text-align: right;
}

form.listForm select, form select {
    padding-right: 22px;
    min-width: 90px;      
    text-indent: 0.01px;
    text-overflow: ""; 
}

form.listForm fieldset legend a.groupsVisibilityLink {
	padding: 0px 0px 0px 5px;
}

 form.listForm fieldset span.categoryContainer {
   display: inline-block;
   width: 24%;
   min-width: 300px;
   text-align: left;
   margin: 3px 0px 3px 0px;
}

form fieldset span.groupButton {
	cursor: pointer;
	display: inline-block;
   font-size: 16px;
   vertical-align: middle;
   width: 24%;
   min-width: 300px;
   text-align: center;
   margin: 5px 0px 5px 0px;
   padding: 5px 0px 5px 0px;
}

/* Table styling */

table.listTable colgroup col, table.listTable thead tr th {
	min-width: 100px;
	padding: 2px 3px 2px 3px;
}
