/**
 * Styling for chronological note.
 *
 * Author: Joel Norris
 * Version: 0.1.0 (February)
 * Since: OMIS 3.0
 */
 
 form.editForm fieldset span.categoryItem {
   display: inline-block;
   width: 24%;
   min-width: 300px;
   text-align: left;
   margin: 3px 0px 3px 0px;
}

form.editForm fieldset textarea.narrative {
	height: 15em;
}

form.editForm fieldset span.groupCategoryContainer {
	transition: display 200ms;
}

form.editForm fieldset legend a.groupsVisibilityLink {
	padding: 0px 0px 0px 5px;
}

form fieldset span.groupButton {
	cursor: pointer;
	display: inline-block;
   font-size: 16px;
   vertical-align: middle;
   width: 24%;
   min-width: 300px;
   text-align: center;
   margin: 5px 0px 5px 0px;
   padding: 5px 0px 5px 0px;
}

/* form fieldset span.groupButton.active { */
/* 	box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.1); */
/* } */