/* Profile Items Container */
div.offenderProfile {
	width: 95%;
	margin: 0 auto;
}

div.profileItems {
	display: inline-block;
	margin: 0 auto;
	float: left;
	width: 41%;
}

div.profileItems:nth-child(2n+1) {
	clear: left;
}

div.profileItems {
	display: inline-block;
	padding-top: 4px;
	margin: 3px;
	float: left;
	width: calc(50% - 6px);
}

div.profileItemsWrapper {
	padding: 4px;
	width: 90%;
}

div.profileItemsInnerWrapper {
	margin: 4px;
	border-style: solid;
	border-width: 5px;
}

/* Profile item headers */
/* div.offenderProfile div.profileItems h2 { */
/* 	border: 1px; */
/* 	border-color: black; */
/* 	border-style: solid; */
/* 	vertical-align: bottom; */
/* 	display: inline-block; */
/* } */

div.offenderProfile div.profileItems h2 {
	padding: 5px;
	margin: 9px 0 12px 25px;
	border-width: 2px;
	border-style: solid;
	clear: left;
	display: inline-block;
	height: 20px;
}

div.offenderProfile div.profileItems h2 a.profileActionMenuItem {
	padding: 0 5px 0 5px;
	margin: 0 0 0 0;
}

div.offenderProfile div.profileItems h2 a.profileActionMenuItem:before {
	vertical-align: 0%;
}

div.offenderProfile div.profileItems h2 span.contentHeading {
/* 	display: block; */
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
}

/* Profile Item Container */
div.profileItemContainer {
	margin-left: 5px;
	/* border-radius: 5px; */
	display: inline-block;
	margin-bottom: 2px;
	text-align: center;
	height: auto;
	vertical-align: top;
}

div.profileItemContainer:hover {
	opacity: .7;
}

.profileActionMenuItem {
	display: inline-block;
}

/* Profile Item (Button Links) */
div.profileItem {
	display: contents;
	width: 100%;
	padding: 2px;
}


div.profileItem a {
	width: 90%;
	margin: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 4px;
	padding-left: 4px;
	text-decoration: none;
	color: inherit;
}

div.profileItem:not(.inactive ) a:hover {
	/* The following is specifically to override the styling in colors.jsp, 
	I should either change class names in this and the new profileHeader (which would involve 
	changing the profileItem.jsp's themselves!) or remove the styling from colors.jsp.
	*/
	border: 0;
	margin: 1px;
	background-color: inherit;
	
}

/* Profile Action Menu */
div.profileActionMenuItemContainer{
	float: left;
}

/* Profile Details Container */
div.profileDetailsWrapper{
	margin-left: 45%;
}

div.profileDetailsWrapper span{
	display: inline-block;
	margin: 0 auto;
	float: left;
	width: 50%;
}

/* Profile Detail Item */
div.profileDetailsItem{
	margin-bottom: 4px;
}

div.profileDetailsItem h1{
	font-size: large;
	color: inherit;
}

div.profileDetailsItem label{
	float: left;
	clear: both;
	font-weight: bold;
	margin-right: 20px;
	width: 40%;
	text-align: right;
}

div.profileDetailsItem label + span{
	display: -ms-grid;
	display: grid;
}

div.profileDetailsItem label::after{
	content: ':';
}

@media only screen and (min-width:900px) and (max-width:1199px) {
	
	div.profileItemContainer, div.profileDetailsWrapper span{
		width: calc(40% - 10px);
		margin-left: 10%;
	}
}

@media only screen and (min-width:1200px ) {
	div.profileItemContainer {
		width: 30%;
	}
}

@media only screen and (min-width:1600px ) {
	div.profileItems {
		width: 30%;
	}
	div.profileDetailsWrapper{
		margin-left: 35%;
	}
	div.profileDetailsWrapper {
		width: 35%;
	}
	div.profileItems:nth-child(2n+1) {
		clear: none;
	}
	div.profileItems:nth-child(3n+1) {
		clear: left;
	}
}