.violationEventDocumentItem {
	clear:both;
	float:left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2%;
	padding-right: 2%;
	width: 65%;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
}

.addLink{
	clear:both;
	float:left;
}

.removeTag{
	float:left;
	margin-left: 10%;
}

.checkboxLabel{
	margin-left: 3px;
	float: left;
}

.removeContent{
	background-color: hsla(355, 100%, 50%, 0.3);
}


.documentTag{
	clear:both;
	float:left;
	margin-left: 10%;
	padding-top: 5px;
	padding-bottom: 1px;
}

.tagError{
	display: inherit;
	margin-left: 25%;
	font-size: 76%;
	text-transform: uppercase;
	font-weight: bold;
	color: #D8000C;
}

.tipText{
	font-size: 76%;
	text-transform: uppercase;
	font-style: italic;
}