div#caseWorkers, div#caseOffenders, div#caseLoadCases {
    min-height: 100px;
    width:100%;
    padding-top: 10px;
    padding-bottom: 8px;
    float:left;
}
.editForm {
	min-width: 400px;
	 height: 93%;
}

#caseLoadWorkerAssignmentTable {
	width: 100%;
}

#dateRangeStart, #dateRangeEnd, #dateRangeRefresh {
	float: none;
}

body {
	padding:0px;
	margin:0px;
}


#caseLoadWorkerAssignmentTable textarea, #caseLoadCaseAssignmentTable textarea, #caseLoadOffenderAssignmentTable textarea {
    height: 1.4em;
    padding-right: 0;
    width: 30em;
}