<?xml version="1.0" encoding="UTF-8"?>
<!--
 - Author: Stephen Abson
 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>OMIS 3</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/config/applicationContext-security.xml</param-value>
  </context-param>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>*.pdf</url-pattern>
    <url-pattern>*.docx</url-pattern>
    <url-pattern>*.xls</url-pattern>
    <url-pattern>*.xlsx</url-pattern>
    <url-pattern>*.rtf</url-pattern>
    <url-pattern>*.csv</url-pattern>
    <url-pattern>*.xml</url-pattern>
    <url-pattern>*.odt</url-pattern>
    <url-pattern>*.ods</url-pattern>
    <url-pattern>/resources/common/scripts/ServerConfig.js</url-pattern>
    <url-pattern>/resources/common/scripts/SessionConfig.js</url-pattern>
    <url-pattern>/resources/common/style/colors.css</url-pattern>
    <url-pattern>/resources/common/style/userPreference.css</url-pattern>
    <url-pattern>/resources/common/style/fonts.css</url-pattern>
    <url-pattern>/resources/common/style/links.css</url-pattern>
    <url-pattern>/userPreference/style/userPreference.css</url-pattern>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/throwable.html</location>
  </error-page>
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>application/xhtml+xml</mime-type>
  </mime-mapping>
  <context-param>
  	<param-name>spring.profiles.active</param-name>
  	<param-value>${spring.profiles.to.activate}</param-value>
  </context-param>
  <context-param>
  	<param-name>presentationResourceVersion</param-name>
  	<param-value>1.1</param-value>
  </context-param>
</web-app>