/*
 * Styling for user, user account, group and role administration.
 *
 * Author: Stephen Abson
 * Version: 0.1.0 (26 Sept, 2013)
 * Since: OMIS 3.0
 */

/* Links */

a.userAdminLink:before {
	content: url('../images/userAdmin.png');
	vertical-align: -50%;
}

a.userAdminLink {
	vertical-align: middle;
}